@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* text */
  --color-text-1: #343C6A;
  --color-text-2: #2D60FF;
  --color-text-3: #B1B1B1;
  --color-text-4: #232323;
  --color-text-5: #718EBF;
  --color-text-6: #FFFFFF;
  --color-text-7: #8BA3CB;
  --color-text-8: #FE5C73;
  --color-text-9: #FFBB38;
  --color-text-10: #396AFF;
  --color-text-11: #41D4A8;
  --color-text-12: #FF4B4A;
  --color-text-13: #16DBCC;
  --color-text-14: #FF82AC;
  --color-text-15: #123288;
  --color-text-16: #16DBAA ;
  /* ==================================================== */
  

  /* button */
  --btn-bg-color-1: #DCFAF8;
  --btn-bg-color-2: #EDF1F7;
  --btn-bg-color-3: #1814F3;

  --btn-border-color-1: #123288;
  /* ==================================================== */


  /* input */
  --bg-input-color-1: #F5F7FA;
  /* ==================================================== */


  /* balls */
  --bg-ball-color-1: #FFE0EB;
  --bg-ball-color-2: #FFF5D9;
  --bg-ball-color-3: #E7EDFF;
  --bg-ball-color-4: #DCFAF8;
  --bg-ball-color-5: #4C78FF;
  --bg-ball-color-6: #F5F7FA;

  --border-ball-color-1: #718EBF;
  /* ==================================================== */
}

html, body {
  @apply h-dvh w-dvw;
}
